body {
  color: #fff;
  background-color: #444;
}

a,
a:visited {
  color: #77F;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.page-container {
  padding: 50px;
}

.math-question,
.result {
  padding: 40px 0;
  text-align: center;
}

.math-question .correct {
  color: #7F7;
}

.math-question .wrong {
  color: #F77;
}

.math-question form > * {
  display: inline-block;
  margin: 0 5px;
  font-size: 32px;
  font-weight: bold;
}

.math-question .answer {
  width: 80px;
}
